body{
    background-color: aliceblue;
}
.sabritas-container{
    display: flex;
    margin: 10px;
    margin-left: 10%;
    font-size: 25px;
}

header{
    background-color: rgb(185, 156, 203);
    height: 50px;
}

.sabritas-description p{
    color: rgb(160, 56, 144);
}

span{
    color: rgb(23, 186, 66);
    font-size: 23px;
}

.sabritas-description-img{
    
}

.sabritas-add-car{
    margin-left: 20%;

}

.sabritas-car{
    margin-left: 30%;
    color: rgb(109, 32, 32);
}

button{
    background-color: rgb(206, 180, 214);
    border: none;
    cursor: pointer; 
    font-size: 16px;
    color: rgb(41, 80, 83);
}